{
  "openapi": "3.0.3",
  "info": {
    "title": "Marketstack API v2",
    "description": "The official Marketstack API documentation will help you learn how to query the Marketstack JSON API for real-time, intraday, and historical stock market data, along with more advanced EDGAAR data endpoints. Also, define multiple stock symbols, retrieve extensive data about 2700+ Stock Exchanges Info, 30000+ Stock tickers from more than 50 countries, as well as 750 + Stock Market indexes, information about timezones, currencies, and more.\n\nOur API is built upon a RESTful and easy-to-understand request and response structure. API requests are always sent using a simple API request URL with a series of required and optional HTTPS GET parameters, and API responses are provided in lightweight JSON format.\n",
    "version": "2.0.0"
  },
  "servers": [
    {
      "url": "https://api.marketstack.com/v2"
    }
  ],
  "security": [
    {
      "ApiKeyQuery": []
    }
  ],
  "tags": [
    {
      "name": "End-of-day"
    },
    {
      "name": "Intraday"
    },
    {
      "name": "Stock Prices"
    },
    {
      "name": "Commodities"
    },
    {
      "name": "Company Ratings"
    },
    {
      "name": "Splits"
    },
    {
      "name": "Dividends"
    },
    {
      "name": "Tickers"
    },
    {
      "name": "Indexes"
    },
    {
      "name": "Exchanges"
    },
    {
      "name": "Currencies"
    },
    {
      "name": "Timezones"
    },
    {
      "name": "Bonds"
    },
    {
      "name": "ETFs"
    },
    {
      "name": "EDGAR"
    }
  ],
  "paths": {
    "/eod": {
      "get": {
        "tags": [
          "End-of-day"
        ],
        "summary": "Retrieve end-of-day stock price data for one or multiple ticker symbols across global exchanges.",
        "description": "Access end-of-day stock market data for single or multiple tickers using the `symbols` parameter.Supports over 500,000 tickers across 30+ global exchanges including NASDAQ, NYSE, and BATS.Daily-updated ticker lists are available and ticker symbols with periods should be replaced with hyphens (e.g. BRK.B → BRK-B).Prices may include adjusted values accounting for corporate actions such as splits and dividends using CRSP methodology.",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "description": "Your Marketstack API access key.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "938f7b1ea66fa3fb1ee796e5579baf8b"
            }
          },
          {
            "name": "symbols",
            "in": "query",
            "description": "One or more comma-separated ticker symbols (e.g., `AAPL,MSFT`).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exchange",
            "in": "query",
            "description": "Filter your results based on a specific stock exchange by specifying the MIC identification of a stock exchange.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date_from",
            "in": "query",
            "description": "Filter results from this date (inclusive). Format `YYYY-MM-DD`.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "date_to",
            "in": "query",
            "description": "Filter results up to this date (inclusive). Format `YYYY-MM-DD`.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order. Use `ASC` for oldest first or `DESC` for newest first.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Pagination limit (results per page). Default 100, maximum 1000.",
            "required": false,
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset (number of results to skip). Default 0.",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "EOD data retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EODResponse"
                }
              }
            }
          }
        }
      }
    },
    "/eod/latest": {
      "get": {
        "tags": [
          "End-of-day"
        ],
        "summary": "Retrieve the latest available end-of-day market data for one or more ticker symbols.",
        "description": "Returns the most recent end-of-day pricing data for the requested stock ticker symbols.\nUse the `symbols` parameter to query one or multiple comma-separated tickers.\nSupports numerous global exchanges and provides data including open, high, low, close, volume, and adjusted values.\nUseful for dashboards, real-time reporting, and last-close reference calculations.",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "description": "Your Marketstack API access key.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "938f7b1ea66fa3fb1ee796e5579baf8b"
            }
          },
          {
            "name": "symbols",
            "in": "query",
            "description": "One or more comma-separated ticker symbols (e.g., `AAPL,MSFT`).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exchange",
            "in": "query",
            "description": "Filter your results based on a specific stock exchange by specifying the MIC identification of a stock exchange.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order. Use `ASC` for oldest first or `DESC` for newest first.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Pagination limit (results per page). Default 100, maximum 1000.",
            "required": false,
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset (number of results to skip). Default 0.",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Latest EOD data retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EODResponse"
                }
              }
            }
          }
        }
      }
    },
    "/eod/{date}": {
      "get": {
        "tags": [
          "End-of-day"
        ],
        "summary": "Retrieve end-of-day market data for a specific date",
        "description": "Returns historical end-of-day pricing data for a specific date using the `YYYY-MM-DD` format.\nOptionally request exact timestamps in ISO-8601 format (e.g. 2020-05-21T00:00:00+0000).\nSupports querying multiple ticker symbols using the `symbols` parameter.\nIdeal for historical research, analytics, and backtesting.",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "description": "Your Marketstack API access key.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "938f7b1ea66fa3fb1ee796e5579baf8b"
            }
          },
          {
            "name": "date",
            "in": "path",
            "description": "Specific date for EOD data. Format `YYYY-MM-DD`.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "symbols",
            "in": "query",
            "description": "One or more comma-separated ticker symbols (e.g., `AAPL,MSFT`).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exchange",
            "in": "query",
            "description": "Filter your results based on a specific stock exchange by specifying the MIC identification of a stock exchange.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Pagination limit (results per page). Default 100, maximum 1000.",
            "required": false,
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset (number of results to skip). Default 0.",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order. Use `ASC` for oldest first or `DESC` for newest first.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "EOD data for the date retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EODResponse"
                }
              }
            }
          }
        }
      }
    },
    "/intraday": {
      "get": {
        "tags": [
          "Intraday"
        ],
        "summary": "Retrieve intraday stock price data at minute-level intervals for supported US exchanges.",
        "description": "Provides intraday market price data with intervals as short as one minute for US stock tickers on the IEX exchange.\nUse the `symbols` parameter to request data for one or multiple tickers.\nTicker symbols containing periods must be replaced with hyphens (e.g. BRK.B → BRK-B).\nIntraday data includes derived real-time reference pricing; bid/ask fields require IEX entitlement and will return null without appropriate authorization.",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "description": "Your Marketstack API access key.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "938f7b1ea66fa3fb1ee796e5579baf8b"
            }
          },
          {
            "name": "symbols",
            "in": "query",
            "description": "One or more comma-separated ticker symbols (e.g., `AAPL,MSFT`).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "description": "Intraday aggregation interval.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1min",
                "5min",
                "10min",
                "15min",
                "30min",
                "1hour"
              ]
            }
          },
          {
            "name": "exchange",
            "in": "query",
            "description": "Filter your results based on a specific stock exchange by specifying the MIC identification of a stock exchange.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date_from",
            "in": "query",
            "description": "Filter results from this date (inclusive). Format `YYYY-MM-DD`.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "date_to",
            "in": "query",
            "description": "Filter results up to this date (inclusive). Format `YYYY-MM-DD`.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order. Use `ASC` for oldest first or `DESC` for newest first.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Pagination limit (results per page). Default 100, maximum 1000.",
            "required": false,
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset (number of results to skip). Default 0.",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "name": "after_hours",
            "in": "query",
            "description": "If set to true, includes pre and post market data if available. By default is set to false.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Intraday data retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntradayResponse"
                }
              }
            }
          }
        }
      }
    },
    "/intraday/latest": {
      "get": {
        "tags": [
          "Intraday"
        ],
        "summary": "Retrieve the most recent intraday price bar for one or more ticker symbols.",
        "description": "Returns the latest intraday bar for the requested stock ticker symbols.\nSupports real-time updates, with sub-15-minute intervals available for Professional plan subscribers and above.\nU.S. equity markets close at 4:00 PM EST; after-hours trades can be included using `after_hours=true`.\nIntraday closing values may differ from official EOD auction-based closing prices.",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "description": "Your Marketstack API access key.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "938f7b1ea66fa3fb1ee796e5579baf8b"
            }
          },
          {
            "name": "symbols",
            "in": "query",
            "description": "One or more comma-separated ticker symbols (e.g., `AAPL,MSFT`).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "description": "Intraday aggregation interval.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1min",
                "5min",
                "10min",
                "15min",
                "30min",
                "1hour"
              ]
            }
          },
          {
            "name": "exchange",
            "in": "query",
            "description": "Filter your results based on a specific stock exchange by specifying the MIC identification of a stock exchange.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "after_hours",
            "in": "query",
            "description": "If set to true, includes pre and post market data if available. By default is set to false.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Latest intraday data retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntradayResponse"
                }
              }
            }
          }
        }
      }
    },
    "/intraday/{date}": {
      "get": {
        "tags": [
          "Intraday"
        ],
        "summary": "Retrieve intraday price data for a specific historical date or timestamp.",
        "description": "Returns historical intraday pricing data for the specified date in `YYYY-MM-DD` format.\nYou may provide an exact timestamp using ISO-8601 format (e.g. 2020-05-21T00:00:00+0000).\nSupports one or multiple ticker symbols using the `symbols` parameter.\nUseful for research, backtesting, and historical intraday analysis.",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "description": "Your Marketstack API access key.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "938f7b1ea66fa3fb1ee796e5579baf8b"
            }
          },
          {
            "name": "date",
            "in": "path",
            "description": "Specific date for intraday data. Example `2024-09-27 15:30`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "symbols",
            "in": "query",
            "description": "One or more comma-separated ticker symbols (e.g., `AAPL,MSFT`).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "description": "Intraday aggregation interval.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1min",
                "5min",
                "10min",
                "15min",
                "30min",
                "1hour"
              ]
            }
          },
          {
            "name": "exchange",
            "in": "query",
            "description": "Filter your results based on a specific stock exchange by specifying the MIC identification of a stock exchange.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Pagination limit (results per page). Default 100, maximum 1000.",
            "required": false,
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset (number of results to skip). Default 0.",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "name": "after_hours",
            "in": "query",
            "description": "If set to true, includes pre and post market data if available. By default is set to false.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Intraday data for the date retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntradayResponse"
                }
              }
            }
          }
        }
      }
    },
    "/stockprice": {
      "get": {
        "tags": [
          "Stock Prices"
        ],
        "summary": "Retrieve real-time stock market prices across major global exchanges.",
        "description": "Provides live intraday market pricing for stocks traded on major global exchanges.\nSupports markets including NYSE, NASDAQ, LON, WSE, EPA, SHE, NSE, and more.\nIdeal for real-time dashboards, monitoring, and trading workflows.\nReturns continuously updated quote data for requested ticker symbols.",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "description": "Your Marketstack API access key.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "938f7b1ea66fa3fb1ee796e5579baf8b"
            }
          },
          {
            "name": "ticker",
            "in": "query",
            "description": "Ticker for which to retrieve the stock price (e.g., `AAPL`).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exchange",
            "in": "query",
            "description": "Optional exchange filter (e.g., `NASDAQ`).",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Real-time stock price data retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StockPriceResponse"
                }
              }
            }
          }
        }
      }
    },
    "/commodities": {
      "get": {
        "tags": [
          "Commodities"
        ],
        "summary": "Retrieve real-time and historical price data for more than 70 global commodity products.",
        "description": "Provides pricing data for 70+ widely traded commodities across energy, metals, industrial, agricultural, and livestock categories.\nIncludes real-time quotes, end-of-day pricing going back 15 years, and historical intraday data with up to 10,000 entries per interval.\nRate limited to 1 request per minute; refer to downloadable commodity list for supported items.",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "description": "Your Marketstack API access key.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "938f7b1ea66fa3fb1ee796e5579baf8b"
            }
          },
          {
            "name": "commodity_name",
            "in": "query",
            "description": "Specify the commodity_name for which you like to receive the Price, aluminum for example.",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Real-time commodity prices retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommodityResponse"
                }
              }
            }
          }
        }
      }
    },
    "/commoditieshistory": {
      "get": {
        "tags": [
          "Commodities"
        ],
        "summary": "Retrieve historical commodity price data with configurable date ranges and frequency options.",
        "description": "Provides historical pricing data for individual commodities with support for daily or monthly frequency using the `frequency` parameter.\nChoose specific dates or ranges, with historical coverage extending up to 15 years depending on commodity type.\nRecommended window is one-year data per request for consistency, with a rate limit of one call per minute.\nCoverage varies across categories such as metals, energy, industrial, livestock, and agricultural, ranging from 9 to 15 years historically.",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "description": "Your Marketstack API access key.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "938f7b1ea66fa3fb1ee796e5579baf8b"
            }
          },
          {
            "name": "commodity_name",
            "in": "query",
            "description": "Specify the commodity_name for which you like to receive the Price, aluminum for example.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date_from",
            "in": "query",
            "description": "Filter results from this date (inclusive). Format `YYYY-MM-DD`.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "date_to",
            "in": "query",
            "description": "Filter results up to this date (inclusive). Format `YYYY-MM-DD`.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "frequency",
            "in": "query",
            "description": "Specify the frequency of the commodity prices. Available options are `daily`, `weekly`, `monthly`, `quarterly`, and `yearly`. Default is `daily`.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "daily",
                "weekly",
                "monthly",
                "quarterly",
                "yearly"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Historical commodity prices retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommodityHistoricalResponse"
                }
              }
            }
          }
        }
      }
    },
    "/companyratings": {
      "get": {
        "tags": [
          "Company Ratings"
        ],
        "summary": "Retrieve real-time analyst buy/sell/hold ratings with historical trend data and price targets.",
        "description": "Provides real-time analyst recommendations including buy, sell, and hold, with updates as new reports are released.\nIncludes over 15 years of historical ratings and price targets for trend and performance analysis.\nIdeal for investment research, market sentiment insights, and directional forecasting.\nRate limit enforced at 1 API call per minute.",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "description": "Your Marketstack API access key.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "938f7b1ea66fa3fb1ee796e5579baf8b"
            }
          },
          {
            "name": "ticker",
            "in": "query",
            "description": "One or more comma-separated ticker symbols (e.g., `AAPL,MSFT`).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date_from",
            "in": "query",
            "description": "Filter results from this date (inclusive). Format `YYYY-MM-DD`.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "date_to",
            "in": "query",
            "description": "Filter results up to this date (inclusive). Format `YYYY-MM-DD`.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "rated",
            "in": "query",
            "description": "Filter response on buy, sell, or hold.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "buy",
                "sell",
                "hold"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Company ratings data retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyRatingsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/splits": {
      "get": {
        "tags": [
          "Splits"
        ],
        "summary": "Retrieve stock split information and adjustment factors for supported ticker symbols.",
        "description": "Provides stock split details including split ratios and adjustment factors for requested symbols.\nSupports exchanges such as NASDAQ, PINK, SHG, NYSE, NYSE ARCA, OTCQB, and BATS.\nSplit information is also available for individual tickers using the Tickers endpoint.\nUseful for pricing normalization, historical adjustments, and corporate action analysis.",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "description": "Your Marketstack API access key.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "938f7b1ea66fa3fb1ee796e5579baf8b"
            }
          },
          {
            "name": "symbols",
            "in": "query",
            "description": "One or more comma-separated ticker symbols (e.g., `AAPL,MSFT`).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date_from",
            "in": "query",
            "description": "Filter results from this date (inclusive). Format `YYYY-MM-DD`.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "date_to",
            "in": "query",
            "description": "Filter results up to this date (inclusive). Format `YYYY-MM-DD`.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order. Use `ASC` for oldest first or `DESC` for newest first.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Pagination limit (results per page). Default 100, maximum 1000.",
            "required": false,
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset (number of results to skip). Default 0.",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Splits data retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SplitsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/dividends": {
      "get": {
        "tags": [
          "Dividends"
        ],
        "summary": "Retrieve dividend payment information and history for supported ticker symbols.",
        "description": "Provides dividend data including payment amounts and dates for requested stock symbols.\nSupports major exchanges such as NASDAQ, PINK, SHG, NYSE, NYSE ARCA, OTCQB, and BATS.\nDividend information is also available for individual tickers via the Tickers endpoint.\nIdeal for income investing, historical analysis, and yield tracking.",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "description": "Your Marketstack API access key.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "938f7b1ea66fa3fb1ee796e5579baf8b"
            }
          },
          {
            "name": "symbols",
            "in": "query",
            "description": "One or more comma-separated ticker symbols (e.g., `AAPL,MSFT`).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date_from",
            "in": "query",
            "description": "Filter results from this date (inclusive). Format `YYYY-MM-DD`.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "date_to",
            "in": "query",
            "description": "Filter results up to this date (inclusive). Format `YYYY-MM-DD`.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order. Use `ASC` for oldest first or `DESC` for newest first.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Pagination limit (results per page). Default 100, maximum 1000.",
            "required": false,
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset (number of results to skip). Default 0.",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Dividends data retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DividendsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tickers/{symbol}": {
      "get": {
        "tags": [
          "Tickers"
        ],
        "summary": "Retrieve detailed information and market data for a specific stock ticker symbol.",
        "description": "Provides detailed information and exchange metadata for the requested ticker symbol.\nIncludes access to real-time, end-of-day, and intraday market data.\nUseful for research, charting, analytics, and performance tracking.\nQuery using the {symbol} path parameter to look up an individual ticker.",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "description": "Your Marketstack API access key.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "938f7b1ea66fa3fb1ee796e5579baf8b"
            }
          },
          {
            "name": "symbol",
            "in": "path",
            "description": "Ticker symbol to look up (e.g., `AAPL`).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exchange",
            "in": "query",
            "description": "Filter your results based on a specific stock exchange by specifying the MIC identification of a stock exchange.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Pagination limit (results per page). Default 100, maximum 1000.",
            "required": false,
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset (number of results to skip). Default 0.",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ticker information retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TickerResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tickers/{symbol}/eod": {
      "get": {
        "tags": [
          "Tickers"
        ],
        "summary": "Retrieve end-of-day pricing data for a specific stock ticker symbol.",
        "description": "Returns end-of-day market pricing data for the specified ticker symbol, including open, high, low, close, volume, and adjusted values.\nUseful for charting, research, backtesting, and performance tracking.\nAccess by appending `/eod` to the ticker endpoint.",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "description": "Your Marketstack API access key.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "938f7b1ea66fa3fb1ee796e5579baf8b"
            }
          },
          {
            "name": "symbol",
            "in": "path",
            "description": "Ticker symbol to look up (e.g., `AAPL`).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exchange",
            "in": "query",
            "description": "Filter your results based on a specific stock exchange by specifying the MIC identification of a stock exchange.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Pagination limit (results per page). Default 100, maximum 1000.",
            "required": false,
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset (number of results to skip). Default 0.",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tickers eod data retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TickerEodResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tickers/{symbol}/splits": {
      "get": {
        "tags": [
          "Tickers"
        ],
        "summary": "Retrieve end-of-day pricing data for a specific stock ticker.",
        "description": "Returns historical end-of-day market data for the specified ticker symbol.\nIncludes open, high, low, close, volume, and adjusted pricing values.\nUseful for analysis, charting, and historical performance comparisons.\nUse the {symbol} path parameter to request EOD data for an individual ticker.",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "description": "Your Marketstack API access key.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "938f7b1ea66fa3fb1ee796e5579baf8b"
            }
          },
          {
            "name": "symbol",
            "in": "path",
            "description": "Ticker symbol to look up (e.g., `AAPL`).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exchange",
            "in": "query",
            "description": "Filter your results based on a specific stock exchange by specifying the MIC identification of a stock exchange.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Pagination limit (results per page). Default 100, maximum 1000.",
            "required": false,
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset (number of results to skip). Default 0.",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "name": "date_from",
            "in": "query",
            "description": "Filter results from this date (inclusive). Format `YYYY-MM-DD`.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "date_to",
            "in": "query",
            "description": "Filter results up to this date (inclusive). Format `YYYY-MM-DD`.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order. Use `ASC` for oldest first or `DESC` for newest first.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tickers splits factor retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TickerSplitsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tickers/{symbol}/dividends": {
      "get": {
        "tags": [
          "Tickers"
        ],
        "summary": "Retrieve dividend history and payment details for a specific stock ticker.",
        "description": "Returns dividend information for the specified ticker symbol including amounts, declaration dates, and ex-dividend schedules.\nUseful for yield tracking, income investing analysis, and historical dividend research.\nIdeal for dashboards and payout forecasting models.\nUse the {symbol} path parameter to retrieve dividend data for an individual ticker.",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "description": "Your Marketstack API access key.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "938f7b1ea66fa3fb1ee796e5579baf8b"
            }
          },
          {
            "name": "symbol",
            "in": "path",
            "description": "Ticker symbol to look up (e.g., `AAPL`).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exchange",
            "in": "query",
            "description": "Filter your results based on a specific stock exchange by specifying the MIC identification of a stock exchange.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Pagination limit (results per page). Default 100, maximum 1000.",
            "required": false,
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset (number of results to skip). Default 0.",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "name": "date_from",
            "in": "query",
            "description": "Filter results from this date (inclusive). Format `YYYY-MM-DD`.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "date_to",
            "in": "query",
            "description": "Filter results up to this date (inclusive). Format `YYYY-MM-DD`.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order. Use `ASC` for oldest first or `DESC` for newest first.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tickers dividends data retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TickerDividendsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tickers/{symbol}/intraday": {
      "get": {
        "tags": [
          "Tickers"
        ],
        "summary": "Retrieve real-time and intraday price data for a specific stock ticker symbol.",
        "description": "Provides live and historical intraday pricing data for the requested ticker symbol.\nSupports minute-level intervals for US equities with real-time reference pricing.\nIdeal for trading dashboards, short-term trend analysis, and market monitoring.\nUse the {symbol} path parameter to retrieve intraday data for an individual ticker.",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "description": "Your Marketstack API access key.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "938f7b1ea66fa3fb1ee796e5579baf8b"
            }
          },
          {
            "name": "symbol",
            "in": "path",
            "description": "Ticker symbol to look up (e.g., `AAPL`).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "description": "Intraday aggregation interval.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1min",
                "5min",
                "10min",
                "15min",
                "30min",
                "1hour"
              ]
            }
          },
          {
            "name": "exchange",
            "in": "query",
            "description": "Filter your results based on a specific stock exchange by specifying the MIC identification of a stock exchange.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date_from",
            "in": "query",
            "description": "Filter results from this date (inclusive). Format `YYYY-MM-DD`.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "date_to",
            "in": "query",
            "description": "Filter results up to this date (inclusive). Format `YYYY-MM-DD`.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order. Use `ASC` for oldest first or `DESC` for newest first.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Pagination limit (results per page). Default 100, maximum 1000.",
            "required": false,
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset (number of results to skip). Default 0.",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "name": "after_hours",
            "in": "query",
            "description": "If set to true, includes pre and post market data if available. By default is set to false.",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tickers intraday data retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TickerIntradayResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tickers/{symbol}/eod/{date}": {
      "get": {
        "tags": [
          "Tickers"
        ],
        "summary": "Retrieve end-of-day pricing data for a specific ticker on a specified historical date or timestamp.",
        "description": "Returns historical end-of-day price data for the specified ticker symbol using the `YYYY-MM-DD` format.\nSupports exact timestamps in ISO-8601 format (e.g. 2020-05-21T00:00:00+0000).\nIncludes open, high, low, close, volume, and adjusted price values.\nIdeal for historical analysis, backtesting, and performance comparisons.",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "description": "Your Marketstack API access key.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "938f7b1ea66fa3fb1ee796e5579baf8b"
            }
          },
          {
            "name": "symbol",
            "in": "path",
            "description": "Ticker symbol to look up (e.g., `AAPL`).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "path",
            "description": "date to look at (e.g., `2020-01-01`).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exchange",
            "in": "query",
            "description": "Filter your results based on a specific stock exchange by specifying the MIC identification of a stock exchange.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Pagination limit (results per page). Default 100, maximum 1000.",
            "required": false,
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset (number of results to skip). Default 0.",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tickers eod data for the given date retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EODBar"
                }
              }
            }
          }
        }
      }
    },
    "/tickers/{symbol}/eod/latest": {
      "get": {
        "tags": [
          "Tickers"
        ],
        "summary": "Retrieve the most recent end-of-day pricing data for a specific stock ticker.",
        "description": "Returns the latest available end-of-day price data for the specified ticker symbol.\nIncludes open, high, low, close, volume, and adjusted pricing values.\nIdeal for dashboards, performance snapshots, and reference close analysis.\nUse the {symbol} path parameter to retrieve the most recent EOD record.",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "description": "Your Marketstack API access key.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "938f7b1ea66fa3fb1ee796e5579baf8b"
            }
          },
          {
            "name": "symbol",
            "in": "path",
            "description": "Ticker symbol to look up (e.g., `AAPL`).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exchange",
            "in": "query",
            "description": "Filter your results based on a specific stock exchange by specifying the MIC identification of a stock exchange.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Pagination limit (results per page). Default 100, maximum 1000.",
            "required": false,
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset (number of results to skip). Default 0.",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tickers eod data for the latest date retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EODBar"
                }
              }
            }
          }
        }
      }
    },
    "/tickers/{symbol}/intraday/latest": {
      "get": {
        "tags": [
          "Tickers"
        ],
        "summary": "Retrieve the most recent intraday price bar for a specific stock ticker.",
        "description": "Returns the latest intraday pricing data for the specified ticker symbol in real time.\nIncludes the most recent price bar with open, high, low, close, volume, and interval timestamp.\nIdeal for trading dashboards, real-time monitoring, and short-term performance tracking.\nUse the {symbol} path parameter to retrieve the latest intraday record.",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "description": "Your Marketstack API access key.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "938f7b1ea66fa3fb1ee796e5579baf8b"
            }
          },
          {
            "name": "symbol",
            "in": "path",
            "description": "Ticker symbol to look up (e.g., `AAPL`).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exchange",
            "in": "query",
            "description": "Filter your results based on a specific stock exchange by specifying the MIC identification of a stock exchange.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Pagination limit (results per page). Default 100, maximum 1000.",
            "required": false,
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset (number of results to skip). Default 0.",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tickers eod data for the latest date retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TickerIntradayLatestResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tickerslist": {
      "get": {
        "tags": [
          "Tickers"
        ],
        "summary": "Retrieve a complete list of all supported stock ticker symbols.",
        "description": "Returns the full list of available ticker symbols supported by the API.\nUseful for validation, autocomplete, and building searchable ticker datasets.\nSupports global exchanges and can populate selection lists and dashboards.\nIdeal for discovery and symbol lookup workflows.",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "description": "Your Marketstack API access key.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "938f7b1ea66fa3fb1ee796e5579baf8b"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search term to filter tickers by name or symbol.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exchange",
            "in": "query",
            "description": "Filter your results based on a specific stock exchange by specifying the MIC identification of a stock exchange.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Pagination limit (results per page). Default 100, maximum 1000.",
            "required": false,
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset (number of results to skip). Default 0.",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tickers list retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TickersListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/tickerinfo": {
      "get": {
        "tags": [
          "Tickers"
        ],
        "summary": "Retrieve detailed profile and metadata information for a specific stock ticker.",
        "description": "Returns comprehensive profile and metadata for a stock ticker including company details and exchange information.\nUseful for research, financial dashboards, symbol discovery, and analytics.\nSupports comparison and metadata enrichment use cases.\nProvides a complete overview of the target ticker.",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "description": "Your Marketstack API access key.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "938f7b1ea66fa3fb1ee796e5579baf8b"
            }
          },
          {
            "name": "ticker",
            "in": "query",
            "description": "One or more comma-separated ticker symbols (e.g., `AAPL,MSFT`).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ticker information retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TickerInfoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/indexlist": {
      "get": {
        "tags": [
          "Indexes"
        ],
        "summary": "Retrieve real-time and historical stock market index data, including a full list of supported benchmarks.",
        "description": "Provides real-time and historical pricing data for major global stock market indexes.\nReturns the complete list of supported benchmarks and index identifiers.\nUseful for market comparison, performance tracking, dashboards, and analytical models.\nSupports institutional research and benchmarking workflows.",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "description": "Your Marketstack API access key.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "938f7b1ea66fa3fb1ee796e5579baf8b"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Pagination limit (results per page). Default 100, maximum 1000.",
            "required": false,
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset (number of results to skip). Default 0.",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Index list retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IndexListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/indexinfo": {
      "get": {
        "tags": [
          "Indexes"
        ],
        "summary": "Retrieve detailed information and real-time data for a specific stock market index.",
        "description": "Provides detailed profile and metadata for a selected stock market index along with real-time and historical pricing data.\nReturns attributes such as index name, symbol, exchange, and performance metrics.\nUseful for benchmarking, comparison analysis, research dashboards, and performance tracking.\nSupports analysis of index composition, trends, and historical movement.",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "description": "Your Marketstack API access key.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "938f7b1ea66fa3fb1ee796e5579baf8b"
            }
          },
          {
            "name": "index",
            "in": "query",
            "description": "Benchmark/index identifier (e.g., `australia_all_ordinaries`).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Index info retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IndexInfoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/exchanges": {
      "get": {
        "tags": [
          "Exchanges"
        ],
        "summary": "Retrieve general information about more than 2,700 global stock exchanges.",
        "description": "Provides detailed information and metadata for over 2,700 stock exchanges worldwide.\nUseful for research, exchange validation, and building selection or discovery interfaces.\nNot all exchanges listed here are supported across every Marketstack endpoint.\nRefer to individual endpoint documentation to confirm exchange compatibility.",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "description": "Your Marketstack API access key.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "938f7b1ea66fa3fb1ee796e5579baf8b"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Pagination limit (results per page). Default 100, maximum 1000.",
            "required": false,
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset (number of results to skip). Default 0.",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Search term to filter tickers by name or symbol.",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Exchanges list retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExchangesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/exchanges/{mic}": {
      "get": {
        "tags": [
          "Exchanges"
        ],
        "summary": "Retrieve detailed information for a specific stock exchange using its MIC code.",
        "description": "Returns detailed profile and metadata for a stock exchange identified by its Market Identifier Code (MIC).\nIncludes attributes such as name, country, timezone, operational status, and supported symbols.\nUseful for research, analytics, and verifying exchange coverage.\nUse the {mic} path parameter to request exchange information.",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "description": "Your Marketstack API access key.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "938f7b1ea66fa3fb1ee796e5579baf8b"
            }
          },
          {
            "name": "mic",
            "in": "path",
            "description": "Exchange MIC identifier (e.g., `XNAS`).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Exchange retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExchangesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/exchanges/{mic}/tickers": {
      "get": {
        "tags": [
          "Exchanges"
        ],
        "summary": "Retrieve all ticker symbols listed on a specific stock exchange.",
        "description": "Returns the list of ticker symbols traded on the exchange identified by its Market Identifier Code (MIC).\nUseful for symbol discovery, market screening tools, and exchange-focused analytics.\nSupports global exchanges and provides visibility into available instruments.\nUse the {mic} path parameter to request tickers for an individual exchange.",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "description": "Your Marketstack API access key.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "938f7b1ea66fa3fb1ee796e5579baf8b"
            }
          },
          {
            "name": "mic",
            "in": "path",
            "description": "Exchange MIC identifier (e.g., `XNAS`).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Pagination limit (results per page). Default 100, maximum 1000.",
            "required": false,
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset (number of results to skip). Default 0.",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Exchange tickers retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExchangeMicTickersResponse"
                }
              }
            }
          }
        }
      }
    },
    "/exchanges/{mic}/eod": {
      "get": {
        "tags": [
          "Exchanges"
        ],
        "summary": "Retrieve end-of-day pricing data for all ticker symbols listed on a specific stock exchange.",
        "description": "Returns end-of-day market data for every ticker traded on the exchange identified by its Market Identifier Code (MIC).\nIncludes open, high, low, close, volume, and adjusted price values where applicable.\nUseful for bulk analysis, market dashboards, and exchange-level performance insights.\nUse the {mic} path parameter to retrieve EOD data for all exchange-listed symbols.",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "description": "Your Marketstack API access key.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "938f7b1ea66fa3fb1ee796e5579baf8b"
            }
          },
          {
            "name": "mic",
            "in": "path",
            "description": "Exchange MIC identifier (e.g., `XNAS`).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "symbols",
            "in": "query",
            "description": "One or more comma-separated ticker symbols (e.g., `AAPL,MSFT`).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "exchange",
            "in": "query",
            "description": "Filter your results based on a specific stock exchange by specifying the MIC identification of a stock exchange.",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date_from",
            "in": "query",
            "description": "Filter results from this date (inclusive). Format `YYYY-MM-DD`.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "date_to",
            "in": "query",
            "description": "Filter results up to this date (inclusive). Format `YYYY-MM-DD`.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order. Use `ASC` for oldest first or `DESC` for newest first.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Pagination limit (results per page). Default 100, maximum 1000.",
            "required": false,
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset (number of results to skip). Default 0.",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Exchange EOD data retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExchangesMicEod"
                }
              }
            }
          }
        }
      }
    },
    "/exchanges/{mic}/eod/latest": {
      "get": {
        "tags": [
          "Exchanges"
        ],
        "summary": "Retrieve the most recent end-of-day pricing data for all ticker symbols on a specific stock exchange.",
        "description": "Returns the latest available end-of-day market data for every ticker traded on the exchange identified by its Market Identifier Code (MIC).\nIncludes open, high, low, close, volume, and adjusted pricing where available.\nUseful for daily market snapshots, dashboards, and performance monitoring.\nUse the {mic} path parameter to retrieve the most recent EOD dataset for all exchange-listed symbols.",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "description": "Your Marketstack API access key.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "938f7b1ea66fa3fb1ee796e5579baf8b"
            }
          },
          {
            "name": "symbols",
            "in": "query",
            "description": "One or more comma-separated ticker symbols (e.g., `AAPL,MSFT`).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mic",
            "in": "path",
            "description": "Exchange MIC identifier (e.g., `XNAS`).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Latest EOD data for the exchange retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExchangesMicEod"
                }
              }
            }
          }
        }
      }
    },
    "/exchanges/{mic}/eod/{date}": {
      "get": {
        "tags": [
          "Exchanges"
        ],
        "summary": "Retrieve end-of-day pricing data for all ticker symbols on a specific exchange for a selected historical date.",
        "description": "Returns historical end-of-day market data for all tickers traded on the exchange identified by its Market Identifier Code (MIC).\nSpecify the date using the `YYYY-MM-DD` format to access records for that day.\nIncludes open, high, low, close, volume, and adjusted pricing where applicable.\nIdeal for historical analysis, comparison, and exchange-level performance evaluation.",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "description": "Your Marketstack API access key.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "938f7b1ea66fa3fb1ee796e5579baf8b"
            }
          },
          {
            "name": "symbols",
            "in": "query",
            "description": "One or more comma-separated ticker symbols (e.g., `AAPL,MSFT`).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mic",
            "in": "path",
            "description": "Exchange MIC identifier (e.g., `XNAS`).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "path",
            "description": "Specific date for EOD data. Format `YYYY-MM-DD`.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Pagination limit (results per page). Default 100, maximum 1000.",
            "required": false,
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset (number of results to skip). Default 0.",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "EOD data for the exchange and date retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExchangesMicEod"
                }
              }
            }
          }
        }
      }
    },
    "/exchanges/{mic}/intraday": {
      "get": {
        "tags": [
          "Exchanges"
        ],
        "summary": "Retrieve intraday pricing data for all ticker symbols on a specific stock exchange.",
        "description": "Provides real-time and intraday pricing data for every ticker symbol on the exchange identified by its Market Identifier Code (MIC).\nSupports minute-level intervals and real-time reference values.\nIdeal for trading dashboards, short-term trend analysis, and exchange-level intraday monitoring.\nUse the {mic} path parameter to request intraday data for all listed symbols.",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "description": "Your Marketstack API access key.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "938f7b1ea66fa3fb1ee796e5579baf8b"
            }
          },
          {
            "name": "symbols",
            "in": "query",
            "description": "One or more comma-separated ticker symbols (e.g., `AAPL,MSFT`).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mic",
            "in": "path",
            "description": "Exchange MIC identifier (e.g., `XNAS`).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "description": "Intraday aggregation interval.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1min",
                "5min",
                "10min",
                "15min",
                "30min",
                "1hour"
              ]
            }
          },
          {
            "name": "date_from",
            "in": "query",
            "description": "Filter results from this date (inclusive). Format `YYYY-MM-DD`.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "date_to",
            "in": "query",
            "description": "Filter results up to this date (inclusive). Format `YYYY-MM-DD`.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "Sort order. Use `ASC` for oldest first or `DESC` for newest first.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "ASC",
                "DESC"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Pagination limit (results per page). Default 100, maximum 1000.",
            "required": false,
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset (number of results to skip). Default 0.",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Exchange intraday data retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntradayResponse"
                }
              }
            }
          }
        }
      }
    },
    "/exchanges/{mic}/intraday/latest": {
      "get": {
        "tags": [
          "Exchanges"
        ],
        "summary": "Retrieve the most recent intraday pricing data for all ticker symbols on a specific stock exchange.",
        "description": "Returns the latest available intraday price data for every ticker traded on the exchange identified by its Market Identifier Code (MIC).\nIncludes interval values such as open, high, low, close, volume, and timestamp.\nUseful for real-time dashboards, market monitoring, and exchange-wide performance analysis.\nUse the {mic} path parameter to retrieve the most recent intraday dataset for all exchange-listed symbols.",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "description": "Your Marketstack API access key.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "938f7b1ea66fa3fb1ee796e5579baf8b"
            }
          },
          {
            "name": "symbols",
            "in": "query",
            "description": "One or more comma-separated ticker symbols (e.g., `AAPL,MSFT`).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mic",
            "in": "path",
            "description": "Exchange MIC identifier (e.g., `XNAS`).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "description": "Intraday aggregation interval.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1min",
                "5min",
                "10min",
                "15min",
                "30min",
                "1hour"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Latest intraday data for the exchange retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntradayResponse"
                }
              }
            }
          }
        }
      }
    },
    "/exchanges/{mic}/intraday/{date}": {
      "get": {
        "tags": [
          "Exchanges"
        ],
        "summary": "Retrieve historical intraday price data for all ticker symbols on a specific exchange for a selected date.",
        "description": "Returns historical intraday market data for all tickers traded on the exchange identified by its Market Identifier Code (MIC).\nSpecify the date using the `YYYY-MM-DD` format to access interval records from that day.\nIncludes interval pricing such as open, high, low, close, volume, and timestamps.\nIdeal for backtesting, research, and exchange-level intraday performance analytics.",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "description": "Your Marketstack API access key.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "938f7b1ea66fa3fb1ee796e5579baf8b"
            }
          },
          {
            "name": "symbols",
            "in": "query",
            "description": "One or more comma-separated ticker symbols (e.g., `AAPL,MSFT`).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "mic",
            "in": "path",
            "description": "Exchange MIC identifier (e.g., `XNAS`).",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "date",
            "in": "path",
            "description": "Specific date for intraday data. Example `2024-09-27 15:30`.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "description": "Intraday aggregation interval.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "1min",
                "5min",
                "10min",
                "15min",
                "30min",
                "1hour"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Pagination limit (results per page). Default 100, maximum 1000.",
            "required": false,
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset (number of results to skip). Default 0.",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Exchange intraday data for the date retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntradayResponse"
                }
              }
            }
          }
        }
      }
    },
    "/currencies": {
      "get": {
        "tags": [
          "Currencies"
        ],
        "summary": "Retrieve a paginated list of all supported currencies available through the API.",
        "description": "Returns a paginated list of supported currencies including identifiers, symbols, names, and related metadata.\nUseful for validation, selection inputs, conversion tools, and currency lookup workflows.\nSupports pagination using the `limit` and `offset` query parameters.",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "description": "Your Marketstack API access key.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "938f7b1ea66fa3fb1ee796e5579baf8b"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Pagination limit (results per page). Default 100, maximum 1000.",
            "required": false,
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset (number of results to skip). Default 0.",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Currencies retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CurrenciesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/timezones": {
      "get": {
        "tags": [
          "Timezones"
        ],
        "summary": "Retrieve a paginated list of all supported timezones available through the API.",
        "description": "Returns a paginated list of supported timezones, including identifiers, offsets, and regional metadata.\nUseful for timestamp conversion, scheduling, and aligning financial data by market hours.\nSupports pagination via `limit` and `offset` query parameters.",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "description": "Your Marketstack API access key.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "938f7b1ea66fa3fb1ee796e5579baf8b"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Pagination limit (results per page). Default 100, maximum 1000.",
            "required": false,
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset (number of results to skip). Default 0.",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Timezones retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TimezonesResponse"
                }
              }
            }
          }
        }
      }
    },
    "/bondlist": {
      "get": {
        "tags": [
          "Bonds"
        ],
        "summary": "Retrieve a full list of supported bond markets and associated country coverage.",
        "description": "Returns the complete list of supported countries for which bond market data is available.\nUseful for coverage validation, discovery workflows, portfolio allocation, and research.\nProvides regional references that can be used to query additional bond endpoints.",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "description": "Your Marketstack API access key.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "938f7b1ea66fa3fb1ee796e5579baf8b"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Pagination limit (results per page). Default 100, maximum 1000.",
            "required": false,
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset (number of results to skip). Default 0.",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bonds country list retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BondListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/bond": {
      "get": {
        "tags": [
          "Bonds"
        ],
        "summary": "Retrieve real-time government bond information for a selected country.",
        "description": "Provides real-time government bond data focused on 10-year treasury notes issued by major countries worldwide.\nReturns yield values, identifiers, and country-level metadata.\nUseful for fixed-income research, macroeconomic analysis, and tracking interest rate movements.\nQuery by country to retrieve up-to-date treasury benchmark information.",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "description": "Your Marketstack API access key.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "938f7b1ea66fa3fb1ee796e5579baf8b"
            }
          },
          {
            "name": "country",
            "in": "query",
            "description": "Country name for bonds endpoint (e.g., `kenya`, `united%20states`).",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Bond info retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BondInfoResponse"
                }
              }
            }
          }
        }
      }
    },
    "/etflist": {
      "get": {
        "tags": [
          "ETFs"
        ],
        "summary": "Retrieve a complete list of supported ETF tickers and holdings coverage information.",
        "description": "Returns a full list of exchange-traded funds supported by the API, including identifier codes and ticker symbols.\nUseful for ETF discovery, screening tools, and holdings analysis workflows.\nSupports access to detailed ETF holdings when used with specific ETF endpoints.\nNote: ETF API requests apply a call count multiplier of 20.",
        "parameters": [
          {
            "name": "access_key",
            "in": "query",
            "description": "Your Marketstack API access key.",
            "required": true,
            "schema": {
              "type": "string",
              "default": "938f7b1ea66fa3fb1ee796e5579baf8b"
            }
          },
          {
            "name": "list",
            "in": "query",
            "description": "ETF list type; currently `ticker`.",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "ticker"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Pagination limit (results per page). Default 100, maximum 1000.",
            "required": false,
            "schema": {
              "maximum": 1000,
              "minimum": 1,
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "description": "Pagination offset (number of results to skip). Default 0.",
            "required": false,
            "schema": {
              "minimum": 0,
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "ETF tickers retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ETFListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/etfholdings": {
      "get": {
        "tags": [
          "ETFs"
        ],
[...]
