{
  "openapi": "3.0.0",
  "info": {
    "title": "Online Banking API",
    "description": "API for managing online banking services including account management, transactions, and more.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.onlinebanking.com/api",
      "description": "Main API Server"
    }
  ],
  "paths": {
    "/accounts": {
      "get": {
        "summary": "Get all accounts",
        "description": "Retrieve all accounts associated with the authenticated user.sdjhfvhjsdbfjcbdscd",
        "responses": {
          "200": {
            "description": "A list of accounts",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "accountId": {
                        "type": "string",
                        "example": "1234567890"
                      },
                      "accountType": {
                        "type": "string",
                        "example": "Checking"
                      },
                      "balance": {
                        "type": "number",
                        "format": "float",
                        "example": 1000.5
                      },
                      "currency": {
                        "type": "string",
                        "example": "USD"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a new account",
        "description": "Allows the creation of a new bank account.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accountType": {
                    "type": "string",
                    "example": "Checking"
                  },
                  "initialDeposit": {
                    "type": "number",
                    "format": "float",
                    "example": 500
                  },
                  "currency": {
                    "type": "string",
                    "example": "USD"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Account created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accountId": {
                      "type": "string",
                      "example": "9876543210"
                    },
                    "message": {
                      "type": "string",
                      "example": "Account created successfully"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/accounts/{accountId}": {
      "get": {
        "summary": "Get account details",
        "description": "Retrieve details of a specific account by account ID.",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the account to retrieve."
          }
        ],
        "responses": {
          "200": {
            "description": "Account details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accountId": {
                      "type": "string",
                      "example": "1234567890"
                    },
                    "accountType": {
                      "type": "string",
                      "example": "Checking"
                    },
                    "balance": {
                      "type": "number",
                      "format": "float",
                      "example": 1000.5
                    },
                    "currency": {
                      "type": "string",
                      "example": "USD"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update account details",
        "description": "Update the details of a specific account.",
        "parameters": [
          {
            "name": "accountId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the account to update."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "accountType": {
                    "type": "string",
                    "example": "Savings"
                  },
                  "currency": {
                    "type": "string",
                    "example": "EUR"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Account updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "accountId": {
                      "type": "string",
                      "example": "1234567890"
                    },
                    "message": {
                      "type": "string",
                      "example": "Account updated successfully"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/transactions": {
      "get": {
        "summary": "Get transaction history",
        "description": "Retrieve the transaction history for the authenticated user.",
        "responses": {
          "200": {
            "description": "A list of transactions",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "transactionId": {
                        "type": "string",
                        "example": "tx1234567890"
                      },
                      "date": {
                        "type": "string",
                        "format": "date-time",
                        "example": "2025-04-01T12:00:00Z"
                      },
                      "amount": {
                        "type": "number",
                        "format": "float",
                        "example": 100
                      },
                      "type": {
                        "type": "string",
                        "enum": [
                          "Deposit",
                          "Withdrawal",
                          "Transfer"
                        ],
                        "example": "Deposit"
                      },
                      "accountId": {
                        "type": "string",
                        "example": "1234567890"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Make a transaction",
        "description": "Allows a transfer of funds between accounts or to an external party.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "fromAccountId": {
                    "type": "string",
                    "example": "1234567890"
                  },
                  "toAccountId": {
                    "type": "string",
                    "example": "9876543210"
                  },
                  "amount": {
                    "type": "number",
                    "format": "float",
                    "example": 250
                  },
                  "transactionType": {
                    "type": "string",
                    "enum": [
                      "Transfer",
                      "Withdrawal"
                    ],
                    "example": "Transfer"
                  },
                  "description": {
                    "type": "string",
                    "example": "Payment for services"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Transaction successful",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transactionId": {
                      "type": "string",
                      "example": "tx1234567890"
                    },
                    "message": {
                      "type": "string",
                      "example": "Transaction successful"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/transactions/{transactionId}": {
      "get": {
        "summary": "Get transaction details",
        "description": "Retrieve details of a specific transaction by transaction ID.",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The ID of the transaction to retrieve."
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transactionId": {
                      "type": "string",
                      "example": "tx1234567890"
                    },
                    "amount": {
                      "type": "number",
                      "format": "float",
                      "example": 250
                    },
                    "type": {
                      "type": "string",
                      "example": "Transfer"
                    },
                    "fromAccountId": {
                      "type": "string",
                      "example": "1234567890"
                    },
                    "toAccountId": {
                      "type": "string",
                      "example": "9876543210"
                    },
                    "description": {
                      "type": "string",
                      "example": "Payment for services"
                    },
                    "status": {
                      "type": "string",
                      "example": "Completed"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Account": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string"
          },
          "accountType": {
            "type": "string"
          },
          "balance": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          }
        }
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "transactionId": {
            "type": "string"
          },
          "amount": {
            "type": "number"
          },
          "type": {
            "type": "string"
          },
          "date": {
            "type": "string",
            "format": "date-time"
          },
          "status": {
            "type": "string"
          }
        }
      }
    }
  }
}